#nav {
    background-color: white;
    border-bottom: 1px solid #DADADA;
}


@font-face {
    font-family: "Avenir";
    src: url("../fonts/Avenir_LT_95_Black.ttf") format("truetype");
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    color: #333F48;
    margin: 0;
    background-color: rgb(250, 249, 249)
}

#snailXNavi {
    display: flex;
    padding: 6px;
    box-shadow: 0px 0px 8px 2px #C2C2C2;
    position: fixed;
    background-color: white;
    z-index: 1000;
    width: 100%;
    font-family: Avenir;
    font-stretch: ultra-expanded;
}

.snailx-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.snailx-nav li {
    display: block;
    float: left;
    padding: 10px;
    cursor: pointer;
}


li:hover {
    color: white;
    background-color: #E35205;
}

#links {
    flex: 4;
}

#user {
    flex: 2;
}

#content {
    position: absolute;
    margin-top: 80px;
    width: 100%;
}

.sectionBox {
    padding: 20px;
    background-color: white;
    text-align: center;
    width: 100%;
    border: 1px solid #C2C2C2;
    margin-bottom: 30px;
}

.logoutButton {
    flex: 1;
    width: 100%;
    background-color: #4285E7;
    padding: 10px;
    color: white;
    cursor: pointer;
}

.logoutButton:hover {
    background-color: #2C73DB;
}

#snailXSidebar {
    position: absolute;
    height: 100%;
    background-color: white;
    z-index: 998;
    width: 260px;
    padding: 15px;
    padding-top: 70px;
    border-right: 1px solid #C2C2C2;
}

div#snailXSidebar li {
    display: block;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

div#snailXSidebar h3 {
    font-family: 'Avenir';
    font-size: 18px;
    margin-top: 18px;
}

.snailx-nav .separator {
    width: 100%;
    display: block;
    border-bottom: 1px solid grey;
}

.XsidebarSection {
    margin-top: 15px;
}

.XuserIcon {
    color: #C2C2C2;
    cursor: pointer;
    text-align: right;
    float: right;
    font-size: 40px;
    margin-right: 20px;
    margin-top: 6px;
}


.popup {
    right: 0;
    background-color: white;
    position: absolute;
    z-index: 1000;
    margin-top: 63px;
    min-width: 260px;
    text-align: center;
    padding-top: 15px;
    box-shadow: 0px 5px 8px 2px #C2C2C2;
}

input {

    padding: 6px;
    text-align: center;

}

.message {

    width: 100%;
    padding: 5px;
    background-color: #333F48;
    color: white;

}

th {
    text-align: center
}

.finite-orange-button {
    border-color: #E35205;
    background-color: #E35205;
    color: white;
}

.finite-orange-button:hover {
    border-color: rgb(175, 61, 0);
    background-color: rgb(175, 61, 0);
    color: white;
}

.snailx-nav .disabled {
    /* Make the disabled links grayish*/
    color: gray;
    /* And disable the pointer events */
    pointer-events: none;
}

.finite-orange-button {
    color: #fff;
    background-color: #E35205;
    border-color: #E35205;
}

.finite-orange-button:hover {
    color: #fff;
    background-color: rgb(202, 71, 0);
    border-color: rgb(202, 71, 0);
}

.finite-orange-button:focus,
.finite-orange-button.focus {
    box-shadow: 0 0 0 .2rem rgb(201, 70, 0);
}

.finite-orange-button.disabled,
.finite-orange-button:disabled {
    color: #fff;
    background-color: #E35205;
    border-color: #E35205
}

.finite-orange-button:not(:disabled):not(.disabled):active,
.finite-orange-button:not(:disabled):not(.disabled).active,
.show>.finite-orange-button.dropdown-toggle {
    color: #fff;
    background-color: rgb(180, 63, 0);
}

.finite-orange-button:not(:disabled):not(.disabled):active:focus,
.finite-orange-button:not(:disabled):not(.disabled).active:focus,
.show>.finite-orange-button.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgb(197, 69, 0);
}

.btn-outline-primary {
    color: #E35205;
    background-color: transparent;
    background-image: none;
    border-color: #E35205
}

.btn-outline-primary:hover {
    color: #E35205;
    background-color: rgb(255, 89, 0);
    border-color: #E35205
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 .2rem rgb(150, 52, 0);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #E35205;
    background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: rgb(255, 89, 0);
    border-color: #E35205
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgb(150, 52, 0);
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
    color: #fff;
    border-color: rgb(180, 63, 0);
}