flask==1.0.2
unittest-xml-reporting==2.2.0
flask-wtf==0.14.2
requests==2.19.1
flask-sqlalchemy==2.3.1
psycopg2==2.7.5
flask-script==2.0.6
flask-migrate==2.2.1
bcrypt==3.1.4
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
python-dateutil==2.7.4