{% extends "base.html" %}

{% block content %}
<h1>Add Snail To Race {{race_id}}</h1>
<div class="row">

    <div style="margin: 0 auto; width: 200px;">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}

            <p>
                {{ form.snail_id.label }}<br>
                {{ form.snail_id(size=1, class_='form-control form-controls-lg') }}
            </p>
            <p>
                {{ form.submit(class_='btn btn-success btn-lg finite-orange-button') }}
            </p>
        </form>
    </div>
</div>

{% endblock %}