{% extends "base.html" %}

{% block content %}

<form action="" method="post" novalidate>
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <div class="container">
        <h1>Add Round</h1>

        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <p>
                        {{ form.name.label }}<br>
                        {{ form.name(size=32, class_='form-control form-control-lg') }}
                    </p>
                    <br>

                    {{ form.start_date.label }}<br>

                    <div class='input-group date datetime'>
                        {{ form.start_date(class_='form-control form-control-lg') }}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <br>

                    {{ form.end_date.label }}<br>

                    <div class='input-group date datetime'>
                        {{ form.end_date(class_='form-control form-control-lg') }}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <br>

                    <p>{{ form.submit(class_='btn btn-success btn-lg') }}</p>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('.datetime').datetimepicker();
            });
        </script>
    </div>
</form>
{% endblock %}