{% extends 'base.html' %}

{% block content %}
<h1>Add Race</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.race_status.label }}<br>
        {{ form.race_status(size=32) }}
    </p>
    <div class="form-group">
        {{ form.race_date.label }}<br>
        <div class='input-group date' id='datetimepicker1'>
            {{ form.race_date(class_='form-control form-control-lg') }}
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="container">
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
            $('#datetimepicker2').datetimepicker();
        });
    </script>
    </div>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}

