{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/add_snail.css') }}">

<form action="" class="add-snail-form needs-validation" method="post" novalidate>
    {{ form.hidden_tag() }}
    <h1>Add Snail</h1>


    <div class="row">
        <div class="form-group">

            <div class="input-group add-snail-field">
                {{ form.snail_name.label }}
                {{ form.snail_name(size=36, class_='form-control form-control-lg') }}
                <div class="invalid-feedback">
                    Please enter a name.
                </div>
            </div>
            <br>

            <div class="input-group add-snail-field">
                {{ form.trainer_name.label }}
                {{ form.trainer_name(class_='form-control form-control-lg') }}
                <div class="invalid-feedback">
                    Please select a trainer.
                </div>
            </div>
            <br>

            {{ form.submit(class_='btn btn-success btn-lg') }}
        </div>

        <script src="{{ url_for('static', filename='scripts/bootstrap_validation.js') }}"> </script>

    </div>
</form>

{% endblock %}