{% extends "base.html" %}

{% block content %}

<form action="" class="needs-validation" method="post" novalidate>
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <div class="container">
        <h1>Add Round</h1>

        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <p>
                        {{ form.name.label }}<br>
                        {{ form.name(size=32, class_='form-control form-control-lg') }}
                    </p>
                    <br>

                    {{ form.start_date.label }}<br>

                    <div class='input-group date datetime'>
                        {{ form.start_date(class_='form-control form-control-lg') }}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <br>

                    {{ form.end_date.label }}<br>

                    <div class='input-group date datetime'>
                        {{ form.end_date(class_='form-control form-control-lg') }}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <br>

                    <p>{{ form.submit(class_='btn btn-success btn-lg') }}</p>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('.datetime').datetimepicker();
            });

            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
    </div>
</form>
{% endblock %}