{% extends "base.html" %}

{% block content %}

<img style="width: 80px;" src="{{ url_for('static', filename='imgs/finiteworks_slash.png') }}" />
<p style="font-family: Avenir; font-size: 30px; color: #333F48; letter-spacing: 10px; margin-bottom: 22px;">FINITEWORKS</p>

<form action="" method="post" novalidate>
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=36, class_='form-controls form-control-lg') }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=36, class_='form-controls form-control-lg') }}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit(class_='btn btn-success btn-lg finite-orange-button') }}</p>
</form>
{% endblock %}