{% extends "base.html" %}


{% block content %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
    </tr>
  </thead>
    <tbody>
    {% if active_round %}
        <tr class="active">
          <td class="table-primary">{{active_round.id}}</td>
          <td class="table-primary">{{active_round.name}}</td>
          <td class="table-primary">{{active_round.start_date}}</td>
          <td class="table-primary">{{active_round.end_date}}</td>
        </tr>
    {% endif %}
    {% for round in rounds %}
      <tr>
        <td>{{round.id}}</td>
        <td>{{round.name}}</td>
        <td>{{round.start_date}}</td>
        <td>{{round.end_date}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}