.row .form-group {
    margin: auto;
    /* nice thing of auto margin if display:flex; it center both horizontal and vertical :) */
}

/* .add-round-form .add-round-field {
    padding-bottom: 15px;
} */

.invalid-feedback {
    position: absolute;
    padding-top: 34px;
}

/* .add-round-form .btn-success {
    margin-top: -15px;
} */

.input-group .add-round-field {
    padding-bottom: 25px;
}

.add-round-field li:hover {
    color: black;
    background-color: #FFFFFF;
}

.add-round-field {
    margin-bottom: 30px;
}