html, body {
    font-family: 'Open Sans', sans-serif;
}

#nav {
background-color: white;
border-bottom: 1px solid #DADADA;
}


.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #color;
}