
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">

                      <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/layout.css">

    <title id="header-title">SnailX | Admin</title>